body {
  background-color: #F4F6F8;
}

.App {
  margin: 1rem;
}

.flex {
  flex-direction: column;
}

.box-tab {
  min-height: 300px;
}

.tab {
  background-color: white;
  margin-top: 30px;
  padding: 1rem;
}

.search {
  margin-top: 10px;
}

#left-icon {
  margin-top: 3px;
}

@media screen and (min-width: 700px) {
  .App {
    margin: 1rem 2rem;
  }

  .flex {
    flex-direction: row;
  }

  .box-tab {
    width: 48%;
  }
}